body{
	margin: 20px;
	font-family: Verdana, Geneva, sans-serif;
}

.my-img {
	width: 150px;
}

.card {
	padding: 20px;
	justify-content: space-around;
	width: 400px;
	margin: 0  auto;
	display: flex;
	text-align: center;
	background: #ddebf8;
	border-bottom: 6px solid #d8cefe;
	color: #2b2839;
}

.blue-border {
	border: 1px dotted blue;
}